:host{ display:block; height:100vh; }
.app-layout{ display:flex; height:calc(100vh - 60px); }
.main-content{ flex:1; padding:16px; overflow:auto; }

@media (max-width:700px){
	.app-layout{ flex-direction:column; }
	app-sidebar{ width:100%; order:2 }
	.main-content{ order:1 }
}
